.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}


body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Montserrat', sans-serif;
}

/*contenedor flexbox*/
.flex-container{
	display: flex;
}


.link{
  padding: 40px 21px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}
.link:hover{
	color: #ff00bf;
}

.menu{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-end;
	padding-right: 20px;
}

.logo-container{
	margin-right: auto;
	margin-left: 80px;
	align-items: center;
}

.logo {
	align-self: center;
	padding-top:35px;
}

#home{
	height: 90vh;
	background-image: url(https://cdn.lyft.com/brochure/homepage-hero-poster.8ec795d5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	color: whitesmoke;
}

.caja{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	flex: 0 0 40%;
	height: 60vh;
	padding: 1rem;
	margin-top: 12%;
	margin-left: 57%;
	justify-content: flex-start;
}


.m-y-0{
	color: #352384;
	font-size: 2.5rem;
	line-height: 0.9;
	font-weight: 700;
	margin-left: 30px;
}

.abajo{
	color: #352384;
	font-size: 0.9rem;
	font-weight: 300;
	margin-left: 30px;
	margin-top: -30px;
}
#box-2{
	background: linear-gradient(#76278f,#2b1e66);
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
}

.caja2{
	color: white;
	margin-left: 60px;

}

.textos-grandes{
	font-size: 1.75rem;
	font-weight: 400;
}

.small{
	font-weight: 300;
}

.parrafo-uno{
	line-height: 24px;
}
/* BOX TOTAL */

#box-total{
	background-color: #fff;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	flex-direction: column;

}
.contenido1{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.textos-blancos{
	width: 30%;
	margin-top: 100px;
	margin-left: 50px;
	flex-direction: column;
	color: #333447;

}

.watch{
font-weight: 600;
padding-right: 200px;
}

.titulo{
	margin-bottom: 40px;
	line-height: 0;
	font-size: 28px;
	letter-spacing: 0.5px;
}

.relleno{
	width: 90%;
	font-weight: 300;
}

iframe{
	margin:0;
	height: 80vh;
	width: 800px;
}

.video1{
	margin:0;
	height: 80vh;
	width: 70%;
}

/* BOX 4 -contenido 2*/
.contenido2{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.video2{
	margin-right: 50px;
	height: 80vh;
	width: 70%;

}

.segunda-caja{
	width: 30%;
	margin-top: 50px;
	flex-direction: column;
	color: #333447;

}

footer {
	width: 100%;
	background-color: #333447;
	height: 80vh;
	display: block;
}

.contenedor{
	display: flex;
	justify-content: space-around;
	color: white;
	padding-top: 40px;
}

.titulos{
	font-weight: 500;
	cursor: pointer;
}

.links{
	font-weight: 300;
	cursor: pointer;
}

.links:hover{
	color: #ff00bf;
}

.img-fluid{
	cursor: pointer;
	flex-direction: column;
	display: block;
	padding-top: 30px;
}

.img-fluid:hover{
	background-color: rgba(250,250,250,0.2);
	
}

.iconos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	margin-left: 40px;
}

.fa{
	justify-content: space-around;
	color: white;
	width: 5%;
	font-size: 26px;
	cursor:pointer;
     border-radius: 100px 100px 100px 100px;
}

.fa:hover{
	color: #ff00bf;
}

hr{
    height: 1px;
    border: 0;
    background-color: white;
    width: 500px;
}

.pequeño{
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 12px;
}


.group 			  { 
  position:relative; 
  margin-bottom:45px;
  margin-left: 30px;
  margin-top: 10px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

button{
  background-color: #ff00bf;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px; 
   
}
#boton-rosado{
	width: 200px;
	height: 50px;
	font-size: 15px;
	box-shadow: 0 4px 2px -2px gray;
}
.boton{
	color: #2c2b2a;
	font-size: 12px;
	font-weight: 600px;
	margin-top: 20px;
	line-height:4px;
}